body, div, p, a, span, section, h1, h2, h3 {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	max-width: 1024px;
	position: relative;
    margin: 0 auto;
    font-family: "Comic Sans MS", Verdana, sans-serif;
}

h1 {
	margin: 20px 0;
}

h2 {
	margin: 25px 0 15px 0;
}

p {
	margin-bottom: 10px;
}

code {
	background-color: #eee;
	display: block;
	padding: 10px 20px;
	font-family: "Lucida Console";
}

code p {
	padding: 0;
	margin:0;
	line-height: 1.5;
}